@import "tailwindcss";

.background-img {
  background-image: url(https://cdn.wallpapersafari.com/21/8/M7fdoJ.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}
